<html>
<head>
	<title>FoodHub</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">

</head>
<body>
	<header>
		<div class="row" style="background-color: white;">
			<div class="logo">
				<img src="static/foodhub.png" style="float:left; max-height: 50px; margin-top: 2%;">
			</div>
			
			<ul class="main-nav">
				<li><a href="/delivery">FOOD DELIVERY</a></li>
				<li><a href="/contact">CONTACT NUMBER</a></li>
				<li><a href="/menu">MENU</a></li>
				<li><a href="/customer">CUSTOMER SERVICE</a><li>

			</ul>
		</div>
	</header>

	{% block content %}
	{% endblock %}

</body>
</html>